html
    head
        link(rel="stylesheet", href="../../public/styles/style.scss")
    body
        h1 Ola
        nav
            ul
                li
                    a(href="#") ola link
                li ola li    